<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Prof. Yitong Chen - AI Photonic Computing Lab{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <!-- Top Header -->
    <header class="site-header">
      <h1>Prof. Yitong Chen - AI Photonic Computing Lab</h1>
    </header>

    <!-- Main Navigation -->
    <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/articles">Publications</a>
        <a href="/resources">Code & Datasets</a>
        <a href="/team">Team</a>
        <!-- <a href="/research">Research</a> -->
    </nav>

    <!-- Page Content -->
    <div class="content-card">
      {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
      &copy; 2026 AI Photonic Computing Lab | 
      <a href="mailto:yitongchen@sjtu.edu.cn">Contact Us</a>
    </footer>
  </div>
</body>
</html>